* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* sample color variables */
    --periwinkle: #f2e6ee;
    --lavender: #977dff;
    --vivid-blue: #163dda;
    --deep-navy: #00033d;
}

/* TEMPLATE */
/* Typography */
/* heading fonts */
h1, h2, h3,.nav-links {
    font-family: "hwt-gothic-round", sans-serif;    
    font-weight: 900;
    font-style: normal;
}

/* body fonts */
body, h4, input, label, option, select, button {
    font-family: inclusive-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
}

main {
    min-height: 90vh;
}

/* Navigation */
nav, .logo-title {
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav {
    justify-content: space-between;
    padding: 15px;
    background: var(--periwinkle);
    color: var(--deep-navy);
    position: relative;
}

.nav-links {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    animation: hamburger 2.5s ease forwards;
    animation-direction: reverse;
}

.nav-links.visible {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 1000px;
    background: var(--periwinkle);
    padding: 0 15px 15px 15px;
    animation: hamburger 2.5s ease forwards;
}

.nav-links a {
    color: var(--deep-navy);
    text-decoration: none;
    font-size: 20px;
    margin: 5px 0;
}

#logo {
    width: 125px;
}

.nav-spacer {
    width: 70px;
    border-radius: 50px;
    border: 1px solid var(--deep-navy);
}

/* footer */
footer {
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background: var(--periwinkle);
    color: var(--deep-navy);
    min-height: 100px;
}

.socials {
    display: flex;
}

/* Animations */
@keyframes hamburger {
    from {max-height: 0;}
    to {max-height: 1000px;}
}

.home_section{
    display:flex;
    justify-content:center;
    text-align:center;
    flex-direction:row;
    border-top:lightgrey solid 2px;
    border-bottom:lightgrey solid 2px;
}
.home_section_half{
    display:flex;
    align-items:center;
    text-align:center;
    width:50%;
    justify-content:center;
    padding:2%;
    background-size:cover;
}
.review_section{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    padding:3%;
    border-top:lightgrey solid 2px;
    border-bottom:lightgrey solid 2px;
    background-size:cover;
}
.review{
    text-align:center;
    align-items:center;
    color:white;
    background-size:cover;
    height:400px;
    width:300px;
    border:white solid 2px;
}
.review_comment{
    text-align:center;
    align-items:center;
    justify-content:center;
    height:300px;
    border-bottom:white solid 2px;
    margin-top:5%;
}
