* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* sample color variables */
    --periwinkle: #f2e6ee;
    --lavender: #977dff;
    --vivid-blue: #163dda;
    --deep-navy: #00033d;
}

/* TEMPLATE */
/* Typography */
/* heading fonts */
h1, h2, h3,.nav-links {
    font-family: "hwt-gothic-round", sans-serif;    
    font-weight: 900;
    font-style: normal;
}

/* body fonts */
body, h4, input, label, option, select, button {
    font-family: inclusive-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
}

main {
    min-height: 90vh;
}

/* Navigation */
nav, .logo-title {
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav {
    justify-content: space-between;
    padding: 15px;
    background: var(--periwinkle);
    color: var(--deep-navy);
    position: relative;
}

.nav-links {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    padding: 0 15px;
}

.nav-links.visible {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 1000px;
    background: var(--periwinkle);
    animation: hamburger 2.5s ease forwards;
}

.nav-links a, .nav-links form button {
    color: var(--deep-navy);
    text-decoration: none;
    border: none;
    background: none;
    font-size: 20px;
    margin: 5px 0;
}

#logo {
    width: 150px;
}

.nav-spacer {
    width: 70px;
    border-radius: 50px;
    border: 1px solid var(--deep-navy);
    margin: 2px 0;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background: var(--periwinkle);
    color: var(--deep-navy);
    min-height: 100px;
}

.footer-links {
    justify-content: right;
    text-align: right;
}

.footer-links a, .footer-links form button {
    text-decoration: none;
    background: none;
    border: none;
    color: var(--deep-navy);
    font-weight: 400;
}

.socials {
    display: flex;
}

.socials svg, .social-contacts img {
    margin: 10px 5px;
}

/* Login */
.form-section {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 700px;
    margin: 50px 0;
}

.form-img {
    display: block;
    position: relative;
    width: 30%;
    background: var(--deep-navy);
    height: 700px;
    margin-left: -30px;
    border-radius: 0 10px 10px 0;
    z-index: 1;
}

#tech-effect {
    position: absolute;
    width: 120%;
    left: 0;
    bottom: 0;
}

.register-form {
    display: block;
    width: 30%;
    background: white;
    border: 1px solid var(--deep-navy);
    padding: 20px 40px 40px 40px;
    border-radius: 10px;
    grid-gap: 10px;
    z-index: 2;
    align-content: center;
}

.register-form label, .register-form input, .register-form select, .form-submit {
    display: block;
    width: 100%;
}

.register-form label {
    margin-top: 10px;
}

.register-form input, .search-input, .register-form select, #changeName input {
    border-radius: 30px;
    padding: 5px;
    border: 1px solid var(--deep-navy);
    background: white;
}

.register-form hr {
    width: 100px;
    margin: 10px 10px 10px 0;
    border: 1px solid var(--deep-navy);
}

.form-submit {
    display: block;
    width: 100%;
    margin-top: 20px;
    background: var(--deep-navy);
    color: white;
    border: 1px solid var(--deep-navy);
    padding: 10px;
    border-radius: 50px;
    align-content: center;
}

/* Animations */
@keyframes hamburger {
    from {max-height: 0;}
    to {max-height: 1000px;}
}

/* Homepage */
.banner {
    background: linear-gradient(to bottom right, var(--vivid-blue), var(--lavender));
    background-size: cover;
    background-position: center;
    min-height: 500px;
    width: 100%;
    margin-bottom: 25px;
    align-content: center;
}

.banner-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    max-width: 2080px;
    margin: 0 auto;
}

.banner-content video {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
    align-self: center;
    padding-right: 10%;
}

.banner-text {
    color: white;
    align-self: center;
    padding: 0 10%;
}

.home_section{
    display:flex;
    justify-content:center;
    align-items: center;
    text-align:center;
    flex-direction:row;
    border-radius: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.home_section_half{
    align-content:center;
    text-align:center;
    width:50%;
    justify-content:center;
    padding:2%;
    background-size:cover;
    min-height: 300px;
}

.home_section_half img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.review_section{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    padding:3%;
    background-size:cover;
}
.review{
    position: relative;
    text-align:center;
    align-content:flex-end;
    color:white;
    background-size:cover;
    height:500px;
    width:400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    transition: all 0.3s ease;
}

.review::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#00033d);
  opacity: 0.3; /* control intensity */
  z-index: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.review:hover::before {
    opacity: 0.5; /* increase intensity on hover */
}

.review:hover {
    transform: scale(1.1);
}

.review_comment{
    position: relative;
    text-align:center;
    align-content:flex-end;
    justify-content:center;
    height:300px;
    border-bottom:white solid 2px;
    margin-top:5%;
    z-index: 1;
}

.review p {
    position: relative;
    z-index: 1;
    margin-top: 5%;
}

video {
    position: relative;
}

.graphic-section {
    max-width: 1080px;
    margin: 50px 0;
    border: 1px solid var(--deep-navy);
    margin: 20px auto;
    border-radius: 20px;
}

/* Admin Template */
.admin-ui {
    display: grid;
    grid-template-columns: auto 70%;
    justify-content: center;
}

.admin-nav {
    background: var(--vivid-blue);
    color: var(--periwinkle);
    margin: 25px auto;
    border-radius: 20px;
    padding: 25px;
    min-height: 500px;
    max-height: 1080px;
}

.dashboard-links {
    text-decoration: none;
    transition: all 0.4s;
}

.admin-nav .dashboard-links {
    color: var(--periwinkle);
}

.admin-nav .dashboard-links:hover {
    color: var(--lavender);
}

.admin-content {
    padding: 25px;
    position: relative;
}

/* Admin Dashboard */
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 25px;
}

.stat-card {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--deep-navy);
    border-radius: 20px;
    padding: 10px 15px;
    align-items: center;
    justify-items: center;
    gap: 5px;
    min-height: 120px;
}

.approve {
    background: var(--lavender);
    color: var(--periwinkle);
    padding: 8px 13px;
    margin: 5px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
}

.deny {
    background: var(--deep-navy);
    color: var(--periwinkle);
    padding: 8px 13px;
    margin: 5px;
    border-radius: 20px;
    text-decoration: none;
}

.leave-block {
    display: block;
    border: 1px solid var(--deep-navy);
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px 25px;
    width: 100%;
}

.record-row {
    border-bottom: 1px solid var(--deep-navy);
}

.leave-block td {
    padding: 8px 10px;
}

.leave-block th {
    text-align: center;
}

.leave-block th a {
    color: var(--deep-navy);
    text-decoration: none;
}

/* Admin Leave Requests */
/* Pagination Styling */
.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.page-item {
    list-style: none;
}

.page-item .page-link {
    display: inline-block;
    padding: 8px 16px;
    color: var(--deep-navy);
    border: 1px solid var(--deep-navy);
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.page-item.active .page-link {
    background-color: var(--deep-navy);
    color: var(--periwinkle);
    border-color: var(--deep-navy);
}

.page-item .page-link:hover:not(.disabled) {
    background-color: var(--deep-navy);
    color: var(--periwinkle);
}

.search-leave {
    display: flex;
    position: absolute;
    top: 70px;
    right: 70px;
}

.search-input {
    border-radius: 30px;
    padding: 5px;
    border: 1px solid var(--deep-navy);
    background: white;
}

.search-submit {
    border-radius: 30px;
    padding: 5px 15px;
    margin: 0 5px;
    border: 1px solid var(--deep-navy);
    background: var(--deep-navy);
    color: white;
    cursor: pointer;
}

/* Admin - Add, Edit, Delete, View Employee */
        .employee-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }
        .employee-table th, .employee-table td {
            padding: 5px;
            border-bottom: 1px solid #ccc;
        }
        .profile-card {
            margin-top: 25px; background: white;
            border-radius: 20px; padding: 30px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.08);
        }
        .header-title { font-size: 28px; font-weight: bold; }
        .header-sub { font-size: 14px; color: #6f6f6f; }

        .upload-btn {
            background: #e6d6e6;
            padding: 6px 14px;
            width: fit-content;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold;
            margin-top: 10px;
            display: inline-block;
        }
        .upload-btn:hover { background: #d4bfd2; }

/* Admin Attendance */
.attendance-filter {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    align-items: center;
}

.attendance-filter input {
    border-radius: 20px;
    padding: 5px;
    border: 1px solid var(--deep-navy);
    background: white;
    align-content: center;
}

.attendance-filter button {
    background-color: var(--deep-navy);
    color: var(--periwinkle);
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    width: min-content;
    margin-top: 0;
}

/* Employee */
/* Employee Profile */
.profile_holder{
    display:flex;
    flex-direction:row;
    border-radius:10px;
    padding:15px;
    flex-wrap:wrap;
    width: 90%;
    margin: 10px auto;
}
.profile_pic{
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius:100px;
}

.profile_picture{
    height:100px;
    width:100px;
    border-radius:100px;
}
.profile_stats_section{
    width:85%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-bottom:10px;
}
.profile_container{
    width:50%;
}

.monthly_salary{
    display: block;
    background-color:lightblue;
    border-radius:10px;
    min-width: 200px;
    width: 30%;
    max-width: 400px;
    height:75px;
    color:white;
    padding:10px;
    align-self: flex-end;
}

.name_changer{
    border-radius:50px;
    width:300px;
}

.edit_button{
    border:none;
    background:none;
    outline:none;
    cursor:pointer;
    margin-left:590px
}

#changeName {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*Employee Payroll History */
.payroll_history{
    display:flex;
    flex-wrap:wrap;
}
.information_row{
    display:flex;
    flex-direction:row;
    width:100%;
    padding:10px 0px;
    border-bottom:3px solid lightgrey;
    align-items: center;
}
.info_cell{
    width:14%;
    text-align:center;
}

/* Employee Template */
.employee-ui {
    display: grid;
    grid-template-columns: auto 70%;
    justify-content: center;
}

.employee-nav {
    background: var(--deep-navy);
    color: var(--periwinkle);
    margin: 25px auto;
    border-radius: 20px;
    padding: 25px;
    min-height: 500px;
    max-height: 1080px;
}

.employee-nav .dashboard-links {
    color: var(--periwinkle);
}

.employee-nav .dashboard-links:hover {
    color: var(--lavender);
}

.employee-content {
    padding: 25px;
    position: relative;
}   
